@use '../../../scss/abstracts' as *;

.cc {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &__background {
    position: absolute;
    inset: 0 0 auto 0;
    height: 100vh;
    z-index: 0;
  }

  &__background-img {
    width: 100%;
    min-height: 100vh;
    height: auto;
    object-fit: cover;
    object-position: center center;
  }

  &__board {
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: #111;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    border: .6rem solid #171717;

    box-shadow:
      0 .8rem 1.4rem rgba(0, 0, 0, .45),
      inset 0 0 0 .15rem rgba(255, 255, 255, .08);
  }

  &__ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    z-index: 10;
    outline: .6rem solid #171717;
    outline-offset: 0rem;
    background: #141414;
    border: .2rem solid #2a2a2a;

    box-shadow:
      inset 0 .4rem .8rem rgba(255, 255, 255, .05),
      inset 0 -.5rem 1rem rgba(0, 0, 0, .45),
      0 .5rem 1rem rgba(0, 0, 0, .35);

    &-button {
      background: #343434;
      padding-block: .8rem;
      padding-inline: 1.6rem;
      margin-block: .6rem;
      border-radius: 2rem;
      cursor: pointer;
      box-shadow: 0 2px 3px 1px #000;
      transition: box-shadow .2s ease;
      border: 0;

      &:hover {
        // transform: translateY(-1px);
        box-shadow: 0 4px .6rem 1px #000;
      }

      &:active {
        position: relative;
        top: 1px;
        box-shadow: 
        0 0 1px #000,
        inset 0 2px 4px rgba(0, 0, 0, .8);
      }

      &:disabled {
        transition: none;
        font-size: 1.1rem;
        padding: .8rem .4rem;
        color: red;
        text-shadow: 0 0 1px #fff;
      }
    }
    
  }

  .button {
    width: 25rem;
    height: 25rem;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    border: 0;
  }

  .brutus,
  .sparkplug,
  .burnella,
  .grumbit {

    &.active {
      filter: brightness(2.3);
    }
  }

  .brutus {
    background: #8A681F;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 2.5rem;
    border-right: .6rem solid #171717;
    border-bottom: .6rem solid #171717;
    top: 0;
    left: 0;
  }

  .sparkplug {
    background: #176B87;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 2.5rem;
    border-left: .6rem solid #171717;
    border-bottom:  .6rem solid #171717;
    top: 0;
    right: 0;
  }

  .burnella {
    background: #722F37;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 2.5rem;
    border-left: .6rem solid #171717;
    border-top: .6rem solid #171717;
    bottom: 0;
    right: 0;
  }

  .grumbit {
    background: #3F6B45;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 2.5rem;
    border-right: .6rem solid #171717;
    border-top: .6rem solid #171717;
    bottom: 0;
    left: 0;
  }
}